  <p id="notice"><%= notice %></p>

<% @posts.each do |post| %>
  <div class="post">
    <div class="post-thumb">
      <img src="https://i.imgur.com/hLGH5uk.jpg">
      <div class="post-title"><%= post.title %></div>
    </div>
    
      <div class="post-open">
        <div class="post-date"><%= post.created_at.strftime("%B, %d,%Y") %></div>
        <div>
          <%= link_to 'Show', post, :class =>"post-link"%>
          <% if user_signed_in? %>
            <%= link_to 'Edit', edit_post_path(post), :class =>"post-link" %>
            <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' },:class =>"post-link" %>
          <% end %>  
    
        </div>
      </div>
  </div>
<% end %>