<!DOCTYPE html>
<html>
  <head>
    <title>Sample</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


  <div class="wrapper">
    <header>
      <div class="logo">
        <img src="http://thumbs4.ebaystatic.com/d/l225/m/m2-wEmdhQ3E4BhEzoUxhrOA.jpg">

       <div class="my-name"> Victor <br> Chybirka</div> </div>
      <nav class="nav">
        <ul>
          <li><%= link_to "Posts", root_path, :class => "link" %></li>
          <li><a href="" class="link">Contact</a></li>
          <li><a href="" class="link">Me</a></li>
          <li><%= link_to "About", about_path, :class => "link"%></li>
          <li>  
            <% if user_signed_in? %>
              <%= link_to 'New Post', new_post_path, :class => "link" %>
            <% end %>  
          </li>
        </ul>
      </nav>
    </header>
    <div class="main">
      <%= yield %>
        
    </div>
  </div>
  <script type="text/javascript">
    document.body.onload = function(){
    	var div = document.createElement("div");
    	var innerDiv = document.createElement("div");
    	var span = document.createElement("span");
    	div.className = "preloader";
    	innerDiv.className = "loader";
    	span.className = "loader-name"
    	span.innerHTML = "Zachikaute, byd laska";
    	div.appendChild(innerDiv);
    	div.appendChild(span);
    	document.body.appendChild(div);
     	var preloader = document.querySelector(".preloader");
        setTimeout(function preload(){
	        if(!preloader.classList.contains("done")){
	            preloader.classList.add("done");
	        }
      	},2000);
    }

    preload();
  </script>
  </body>
</html>
